/* Main container */
#main-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Logo and navigation */
header {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

nav {
    background-color: rgb(206, 206, 206);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    border-right: 1px solid white;
    padding: 10px 5px;
}

.nav-item a {
    text-decoration: none;
    font-weight: bold;
    color: #336699;
}

.nav-item a:hover {
    background-color: #d0d0d0;
}

/* Main Image */
#featured-image {
    width: 100%;
    display: block;
}

/* Section Content */
section {
    margin: 0 80px;
}

.section-heading {
    font-size: 24px;
    color: red;
    margin-bottom: 15px;
    text-decoration: underline;
}

.section-paragraph {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

/* Table styles */
table, th, td {
    border: 1px solid rgb(216, 210, 210);
    border-collapse: collapse;
}

table {
    width: 100%
}

#schedule-table {
    width: 100%;
    background-color: #eae9e9;
    padding: 10px 0;
}

td {
    padding: 4px;
}

/* Form */
#form-section {
    background-color: #e9edef;
    padding: 10px 150px;
}

.input-block {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(106, 96, 96, 0.301);
    font-size: 14px;
}

textarea {
    height: 100px;
}

#submit-button {
    background-color: #59a090;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    margin-top: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

footer p {
    font-size: 14px;
    color: #333;
}
